openapi: 3.1.0
info:
  title: Ualá Bis API v2 Authentication API
  description: Token issuance for the Ualá Bis API Cobros Online v2. All integrations require generating an access token via a client-credentials style request (username, client_id, client_secret_id, grant_type). Credentials for both test and production environments are delivered in the Ualá Bis welcome email and in the mobile/web applications. Generated by API Evangelist from the published documentation — the provider does not publish a machine-readable spec.
  version: '2'
  contact:
    email: developers.ualabis@uala.com.ar
    url: https://developers.ualabis.com.ar/
  x-apievangelist:
    provider: ual
    generated: '2026-07-21'
    method: generated
    source: https://developers.ualabis.com.ar/v2/authentication/create
servers:
- url: https://auth.developers.ar.ua.la/v2/api
  description: Production
- url: https://auth.stage.developers.ar.ua.la/v2/api
  description: Test (stage)
tags:
- name: Authentication
paths:
  /auth/token:
    post:
      operationId: createToken
      tags:
      - Authentication
      summary: Crear token (create access token)
      description: Creates the bearer access token required by every Ualá Bis Cobros Online v2 endpoint, using a client_credentials grant carried in a JSON body.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '200':
          description: Access token issued.
          content:
            application/json:
              schema:
                type: object
                description: Token payload (fields not fully documented publicly).
        '400':
          description: Invalid request payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid credentials.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          description: Internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        errors:
          type: array
          items:
            type: string
    TokenRequest:
      type: object
      required:
      - username
      - client_id
      - client_secret_id
      - grant_type
      properties:
        username:
          type: string
          description: Ualá account username.
        client_id:
          type: string
          description: Registered user/application ID.
        client_secret_id:
          type: string
          description: Secret ID generated by the application.
        grant_type:
          type: string
          description: Operation type used to obtain a token.
          enum:
          - client_credentials
