openapi: 3.2.0
info:
  title: Ualá Bis API Cobros Online V2 API
  description: Ualá Bis online payments (checkout) API for Argentina.
  version: '2'
  contact:
    email: developers.ualabis@uala.com.ar
    url: https://developers.ualabis.com.ar/
  x-apievangelist:
    provider: ual
    generated: '2026-07-21'
    method: generated
    source: https://developers.ualabis.com.ar/v2
servers:
- url: https://checkout.developers.ar.ua.la/v2/api
  description: Production
- url: https://checkout.stage.developers.ar.ua.la/v2/api
  description: Test (stage)
security:
- bearerAuth: []
tags:
- name: Ualá Bis API Cobros Online V2
paths: {}
webhooks:
  orderStatusNotification:
    post:
      operationId: orderStatusNotification
      summary: Webhook creación de orden — order status notification
      description: POSTed to the notification_url given when creating an order, on each status event (APPROVED, PROCESSED, REJECTED). Respond 200 to acknowledge; otherwise the notification is retried up to 3 more times (4 attempts total).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderNotification'
            example:
              uuid: 9d42ef50-a139-4606-bc21-43d5e2722876
              external_reference: sf2e0241-a139-4606-adb1-74a842641281
              status: APPROVED
              created_date: '2022-06-06T13:23:27Z'
              api_version: '2'
      responses:
        '200':
          description: Acknowledge receipt with HTTP 200.
      tags:
      - Ualá Bis API Cobros Online V2
  refundStatusNotification:
    post:
      operationId: refundStatusNotification
      summary: Webhook devolución — refund status notification
      description: POSTed to the notification_url given when creating a refund. Status is REFUNDED or NOT_REFUNDED. Respond 200 to acknowledge.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderNotification'
      responses:
        '200':
          description: Acknowledge receipt with HTTP 200.
      tags:
      - Ualá Bis API Cobros Online V2
components:
  schemas:
    OrderNotification:
      type: object
      properties:
        uuid:
          type: string
          description: Unique order identifier.
        external_reference:
          type: string
          description: Merchant order reference.
        status:
          type: string
          description: Order or refund status (APPROVED/PROCESSED/REJECTED or REFUNDED/NOT_REFUNDED).
        created_date:
          type: string
          format: date-time
        api_version:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Access token obtained from POST https://auth.developers.ar.ua.la/v2/api/auth/token with username, client_id, client_secret_id and grant_type=client_credentials. Credentials are issued in the Ualá Bis welcome email and in the mobile/web apps, for both test and production environments.
