openapi: 3.2.0
info:
  title: Ualá Bis API Cobros Online v2 Refunds API
  description: Ualá Bis online payments (checkout) API for Argentina. Creating an order returns a unique hosted checkout link where the buyer selects a payment method (credit card, debit card, and QR coming soon). Orders can be retrieved individually, listed with filters and cursor pagination, and refunded within 90 days. Status changes are pushed to a merchant-supplied notification_url via webhooks. Generated by API Evangelist from the published documentation at developers.ualabis.com.ar — the provider does not publish a machine-readable spec.
  version: '2'
  contact:
    email: developers.ualabis@uala.com.ar
    url: https://developers.ualabis.com.ar/
  x-apievangelist:
    provider: ual
    generated: '2026-07-21'
    method: generated
    source: https://developers.ualabis.com.ar/v2
servers:
- url: https://checkout.developers.ar.ua.la/v2/api
  description: Production
- url: https://checkout.stage.developers.ar.ua.la/v2/api
  description: Test (stage)
security:
- bearerAuth: []
tags:
- name: Refunds
  description: Refunds of approved orders
paths:
  /orders/{uuid}/refund:
    post:
      operationId: refundOrder
      tags:
      - Refunds
      summary: Crear devolución (refund an approved order)
      description: Creates a refund for a paid order. The order must be APPROVED, have no refund in progress, be less than 90 days old, and belong to API Checkout v2. The refund result is notified to the optional notification_url via webhook (REFUNDED / NOT_REFUNDED).
      parameters:
      - name: uuid
        in: path
        required: true
        description: Unique identifier of the paid, approved order.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundRequest'
            example:
              amount: '32221'
              notification_url: https://your-awesome-web.com/endpoint-to-notify
      responses:
        '200':
          description: Refund initiated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - INITIATED
              example:
                status: INITIATED
        '400':
          $ref: '#/components/responses/RequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ApiError'
components:
  responses:
    Forbidden:
      description: Expired token / explicit deny.
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
          example:
            message: User is not authorized to access this resource with an explicit deny
    RequestError:
      description: Invalid request payload or query string.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: request_error
            message: Invalid request payload
            errors:
            - Invalid amount value. Amount must have only positive numbers and a single point
            - Invalid amount value. Minimum amount is 25.00
            - Invalid amount value. Maximum amount is 9999999.00
    ApiError:
      description: Internal error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: api_error
            message: Something bad happened. Please try again
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
          example:
            message: Unauthorized
    NotFound:
      description: Order not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: response_error
            message: No record found.
  schemas:
    CreateRefundRequest:
      type: object
      required:
      - amount
      properties:
        amount:
          type: string
          description: Order amount to refund.
        notification_url:
          type: string
          description: URL notified with the refund result (REFUNDED / NOT_REFUNDED).
    Error:
      type: object
      properties:
        code:
          type: string
          enum:
          - request_error
          - response_error
          - api_error
        message:
          type: string
        errors:
          type: array
          items:
            type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Access token obtained from POST https://auth.developers.ar.ua.la/v2/api/auth/token with username, client_id, client_secret_id and grant_type=client_credentials. Credentials are issued in the Ualá Bis welcome email and in the mobile/web apps, for both test and production environments.
